//imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=VT323&display=swap');

//variables
$primary-color: #4e1e11;
$secondary-color: rgb(255, 233, 201);
$tertiary-color: #cfa578;
$primary-font: "Roboto";
$prim-text-color: white;
$btn-select-width: 200px;

@mixin input{
    padding: 5px;
    border-radius: 10px;
    border: none;
    min-width: 200px;
    margin: 10px;
}
@mixin button{
    background: $secondary-color;
    color: black;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    min-width: 200px;
    padding: 5px;
    margin: 5px;
}
@mixin select {
    padding: 5px;
    border-radius: 5px;
    width: $btn-select-width;
    &:focus {
        border: none;
        outline: none;
    }

}
//Global
select {
    @include select()
}
button {
    @include button()
}
.App {
    background-image: url('./assets/Collage\ Multiply.jpg');
    min-height: 100vh;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;



    button:active {
        background-color: $tertiary-color;       
    }
    input {
        padding: 5px;
        border-radius: 10px;
        border: none;
        min-width: 200px;
    }
}
//All Glass Overlay Components
.Signup,.AdminDash,.UserDash,.Admin-Waitlist, .Special-Select,.SetVacancy{
    background: $primary-color;
    color: $prim-text-color;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    filter: drop-shadow(30px 10px 4px #00000080);
}
//Individual Components
.AdminDash {
    flex-direction: row;
    flex-wrap: wrap;
    h1{
        flex-basis: 100%;
        text-align: center;
    }
    .dash-button {
        min-width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        border: 1px solid $secondary-color;
        border-radius: 50%;
        box-shadow: 10px 5px 5px black;
        

    }
}
.UserDash{
    flex-direction: row;
    flex-wrap: wrap;
    h1{
        flex-basis: 100%;
        text-align: center;
    }
    .dash-display {
        
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 5px;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        flex-basis: 200px;
    }
    p {
        padding: 2px;
        text-align: center;
    }
}
.NavMenu {
    background-color: $tertiary-color;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(0px 10px 4px #0000005a);
    align-items: center;
    z-index: 1;
    
    ul {
        list-style: none;
        padding: 0px;
        text-align: center;
        li{
            padding: 2.5px
        }
        a{
            color: black;
            font-weight: 200;
            text-decoration: none;
        }
    }
    i{
        padding: 5px;
        margin: 2px;
    }

    .dropdown.open{
        display: block;
    }
    .dropdown.closed{
        display: none;
    }
}
.Admin-Waitlist{
    .waitlist{
        border: 1px solid black;
        padding: 10px;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 50%;
        border-radius: 10px;

        li {
            display: flex;
            justify-content: space-around;
            padding: 5px;
            
            span{
                flex-basis: 70%;
            }
            i{
                border: 1px solid white;
                border-radius: 50%;
                padding: 5px;
                background: $tertiary-color;
            }
        }

    }
    .wait-select {
        text-align: center;
        select{
            display: block;
            margin: auto;
            width: 75%;
            padding: 5px;
            border-radius: 5px;
            margin: 5px auto;
        }
    }
}
.Login{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $tertiary-color;

    input{
        @include input
    }
    button {
        @include button
    }
}
.SignUp {
    input {
        @include input()
    }
    margin: 0px;
    min-height: 100vh;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        margin: 0px;
    }
    .container {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $secondary-color;
        border-radius: 5px;
        padding: 10px;
    }
    .login-button {
        background-color: $secondary-color;
    }
}